@import url('main.css');

#footer {
    background-color: var(--light-black);
    text-align: center;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#footer p, 
#footer h1 {
    color: var(--cream-white);
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.social-icons {
    width: 2rem;
    height: 2rem;
    padding: 4px;
    border-radius: .25rem;
    overflow: hidden;
    border: 1px solid var(--cream-white);
    transition: all 0.3s ease;
}

.social-icons:hover {
    background-color: var(--dark-brown);
    cursor: pointer;
}

.logo-img {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
}

.logo-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}