#header {
    border: 1px solid black;
    padding: 1.5rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 2rem;
}

.bar-container {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 28px;
    background-color: black;
    border-radius: 4px;
}

@media (max-width: 760px) {
    ul {
        display: none;
    }

    .bar-container {
        display: flex;
    }
}
