:root {
    --light-green: #606c38;
    --forest-green: #283618;
    --cream-white: #fefae0;
    --light-brown: #bc6c25;
    --dark-brown: #3a1d1f;
    --light-black: #1b1b1b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 100rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
