@import url('main.css');

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 1rem;
    background-color: var(--cream-white);
}

/* GRID LAYOUT FOR PRODUCT CARDS */
.product-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    gap: 2rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-image img {
    width: 20rem;
    height: 20rem;
    border-radius: .5rem;
    object-fit: cover;
    transition: all 0.3s ease;
}

.product-image img:hover {
   transform: scale(1.03);
   cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .product-card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .product-image img {
        width: 16rem;
        height: 16rem;
    }
}

@media (max-width: 600px) {
    .product-card-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .product-image img {
        width: 14rem;
        height: 14rem;
    }
}

.product-card {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease-out;
}

.product-card.animate {
    opacity: 1;
    transform: scale(1);
}
