@import url('main.css');

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    background-color: var(--cream-white);
}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    padding: 1rem 0;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-image img {
    width: 20rem;  
    height: 20rem;
    object-fit: cover; 
}
